<form action="{{ path('builder_component_config', { 'skeleton' : skeleton , 'node' : node }) }}" method="POST">
	{{ form_widget(form) }}
	<input type="submit" class="btn btn-success" value="Guardar">
</form>