    <div class="container">
		{% if attributes.items is not null %}
		{% for node in attributes.items %}
			{% for key,item in node %}
				{% render ['CoreBuilderBundle:Component:',key]|join with {'node':item} %}
			{% endfor %}
		{% endfor %}
		{% endif %}
		
		{% render 'CoreBuilderBundle:Component:add' with {'node': attributes } %}

	</div>