 <div class="navbar{% if node.attributes.fixed is defined and true %} navbar-fixed-top{% endif %}">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{% if node.attributes.brand is defined %}{{ node.attributes.brand }}{% else %}Brand{% endif %}</a>
          <div class="nav-collapse">
         {% if node.items is defined %}
		{% for item in node.items %}
				{% render ['CoreBuilderBundle:Component:',item.name]|join with {'node':item, 'skeleton' : skeleton} %}
		{% endfor %}
		{% endif %}
		
				{% render 'CoreBuilderBundle:Component:add' with {'skeleton': skeleton, 'node': node } %}


          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>