	<div class="row{% if node.attributes.fluid is defined and true %}-fluid{% endif %}{% if node.attributes.class is defined %} {{ attributes.class }}{% endif %}">
		{% if node.items is not null %}
			{% for item in node.items %}
			{% render ['CoreBuilderBundle:Component:',item.name]|join with {'node':item, 'skeleton' : skeleton} %}
		{% endfor %}
		{% endif %}
		
		{% render 'CoreBuilderBundle:Component:add' with {'skeleton': skeleton, 'node': node } %}
	</div>