	<div class="span{% if node.attributes.width is defined %}{{ node.attributes.width }}{% else %}4{% endif %}{% if node.attributes.class is defined %} {{ node.attributes.class }}{% endif %}">
		{{ node.content }}
		{% if node.items is not null %}
		{% for item in node.items %}
		{% render ['CoreBuilderBundle:Component:',item.name]|join with {'node':item, 'skeleton' : skeleton} %}
		{% endfor %}
		{% endif %}
		
		{% render 'CoreBuilderBundle:Component:add' with {'skeleton': skeleton, 'node': node } %}
	</div>