
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/corebuilder/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      {% block style %}
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      {% endblock %}
    </style>
    <link href="{{ asset('bundles/corebuilder/css/bootstrap-responsive.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<script src="{{ asset('bundles/corebuilder/js/jquery.js') }}"></script>

    <script>
    {% block scripts %}
    {% endblock %}
    </script>
  </head>

  <body>
	{% block body %}
	{% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/corebuilder/js/bootstrap.min.js') }}"></script>

  </body>
</html>
